# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore compiled binaries
*.o
*.so

# Ignore virtual environments
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store
